h1 {
	background-color: #4752e0;
	font-size: 40px;
	color:#cccccc;
	font-family: Arial, sans-serif;
}

body {
	background-color: #4752e0;
	font-size: 20px;
	color:#cccccc;
	font-family: Arial, sans-serif;
}