body {
	background-color: #5e5e74;
}
h1 {
	font-size: 40px;
	color:#cccccc;
	font-family: courier, serif;
	text-align: center;
	padding-top: 200px
}

p {
	font-size: 20px;
	color:#cccccc;
	font-family: courier, serif;
	text-align: center;
	padding-top: 50px
}