body {
	background-color: #fff;
	color:#43444d;
	font-size: 20px;
	font-family: arial, sans-serif;
	text-align: left;
}
section#about {
	background-color:black; 
	color:white;
	padding:1.25em;
	width:694px;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: lowercase;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size:1.25em;
}

li{
	font-size: 1em;
	font-style: normal;
}
#slogan{
	font-size:1.5em;
	font-style: italic;
}


