* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #fff;
	color:#43444d;
	font-size: 20px;
	font-family: arial, sans-serif;
	text-align: left;
}
section#about {
	background-color:black; 
	color:white;
	padding:1.25em;
	width:744px;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom:.5em;
	text-transform: lowercase;
	margin-bottom:.5em;
	margin-left: 1.25em;
}

h2{
	font-size: 1.5em;
	margin-bottom:.5em;
	margin-left: 1.25em;
}

h3{
	font-size:1.25em;
	margin-bottom:.5em;
	margin-left: 1.25em;
}

li{
	font-size: 1em;
	font-style: normal;
	margin:0 0 0 1.2em;
}
p {
	margin-bottom:.5em;
	margin-left: 1.25em;
 }

#slogan{
	font-size:1.5em;
	font-style: italic;
}


