* {margin:0;padding:0;box-sizing:border-box;}

body {
	background-color: #fff;
	color:#272525;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	text-align: left;
}
nav {
	display:block;
	outline: solid black 1em;
	float:right;
	padding:1em;
}

section {
	padding:1em;
}
h1 {
	font-family: 'Rozha One', serif;
	font-size: 1.75em;
	text-transform: lowercase;
	margin: 1em 1.25em .5em 0em;
}

h2{
	font-family: 'Rozha One', serif;
	font-size: 1.50em;
	margin: 1em 1.25em .5em 0em;
}

h3{
	font-family: 'Rozha One', serif;
	font-size:1.25em;
	margin: 1em 1.25em .5em 1em;
}
section#about {
	background-color:black; 
	color:white;
	width:744px;
	text-align: left;
}

ul{
	margin: 0em 1.25em .5em 3em;
}
li {
	margin-top:1em;
}

p{
	margin: 1em 1.25em .5em 0em;
	line-height: 1.5em;
	width: 20em;
}

#logo {
	margin: 1em 1.25em 3em 1em;
}

#contact {
	margin: 1em 1.25em .5em 0em;
}


