* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #fff;
	color:#43444d;
	font-size: 20px;
	font-family: arial, sans-serif;
	text-align: left;
}
section#about {
	background-color:black; 
	color:white;
	width:744px;
	margin-left: 0

}
h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: lowercase;
	margin: 1em 1.25em .5em 1em;
}

h2{
	font-size: 1.5em;
	margin: 1em 1.25em .5em 1em;
}

h3{
	font-size:1.25em;
	margin: 1em 1.25em .5em 1em;
}

li{
	font-size: 1em;
	font-style: normal;
	margin: 0 1.25em .5em 2em;
}
p{
	margin: 1em 1.25em .5em 1em;
}

#slogan{
	font-size:1.5em;
	font-style: italic;
	margin: 1em 1.25em .5em 1em;
}
#logo {
	margin: 1em 1.25em .5em 1em;
}


