* {margin:0;padding:0;box-sizing:border-box;}

body {
	background-color: #fff;
	color:#272525;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	text-align: left;
}
nav {
	display:block;
	outline: solid black .5em;
	font-style: bold;
	float:center;
	padding:3em;
}
section{
	padding:1em 0;
}

h1,h2,h3 {
	font-family: 'Francois One', sans-serif;
	margin: 1em 1.25em .5em 0em;
}
h1{
	font-size: 2em;
	text-transform: uppercase;
}

h2{
	font-size: 1.75em;
	color:#3E4E56;
}

h3{
	font-size:1.25em;
	color:#3E4E56;
}
section#about {
	background-color:black; 
	color:white;
	width:744px;
	text-align: left;
}

ul{
	margin: 0em 1.25em .5em 3em;
}
li {
	margin-top:1em;
}

p{
	margin: 1em 1.25em .5em 0em;
	line-height: 1.5em;
	width: 20em;
}

section#logo {
	margin: 1em 1.25em 3em 1em;
}

section#contact {
	margin: 1em 1.25em .5em 0em;
}


