body {
	background-color: #fff;
	color:#43444d;
	font-size: 20px;
	font-family: futura, sans-serif;
	text-align: left;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: lowercase;
	margin-top: 5em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size:1.25em;
}
li{
	font-size: 1em;
	font-style: bold;
}

p {
	margin-top: 2.5em;
}

#slogan{
	font-style: italic;
	text-align: left;
}