body {
	background-color: #fff;
	color:#43444d;
	font-size: 20px;
	font-family: arial, sans-serif;
	text-align: left;
}
#slogan{
	font-style: italic;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: lowercase;
	margin-top: 2.5em;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size:1.25em;
}

li{
	font-size: 1em;
	font-style: normal;
}



