body {
	background-color: #fff;
	color:#43444d;
	font-size: 20px;
	font-family: futura, sans-serif;
	text-align: left;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: lowercase;
	margin-top: 5em;
}

p {
	margin-top: 2.5em;
}

#slogan{
	font-style: italic;
}