* {margin:0;padding:0;box-sizing:border-box;}

body {
	background-color: #fff;
	color:#272525;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	text-align: left;
	margin: 1em 1em 1em 2em;
}
nav {
	display:block;
	outline: solid black .5em;
	font-family: 'Muli', sans-serif;
	font-size: .75em;
	background-color: black;
	max-width: 288px;
	color: white;
	font-style: bold;
	float:center;
	padding:1em;
	margin: 3em 1em 3em 1em;
}

section{
	padding:1em 1em;
}

h1,h2,h3 {
	font-family: 'Francois One', sans-serif;
	margin: 0 1em 0 0;
}
h1{
	font-size: 2em;
	text-transform: uppercase;
}

h2{
	font-size: 1.75em;
	color:#3E4E56;
}

h3{
	font-size:1.25em;
	color:#3E4E56;
}
section#about {
	background-color:black; 
	color:white;
	width:744px;
	text-align: left;
}

ul{
	margin: 0em 1.25em .5em 3em;
}
li {
	margin-top:.5em;
}

p{
	line-height: 1.5em;
	width: 30em;
	margin-bottom: 1em;
}

section#logo {
	
}

section#contact {
	
}
section#blog{

}

section#articles{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
}

.columns {
	float:left;
	padding:0 1em;
	width:33.33%;
}
.columns a {
	border:.15em #fff solid;
	color:#fff;
	display:block;
	padding:1.5em 0;
	text-align:center;
	text-decoration:none;
	width:12em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

footer{
	background-color: black;
	color:white;
	text-align: center;
}




