* {margin:0;padding:0;box-sizing:border-box;}

body {
	background-color: #fff;
	color:#272525;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	margin: 1em 1.25em .5em 1em;
}

h1 {
	font-family: 'Lobster', sans-serif;
	font-size: 1.75em;
	text-transform: lowercase;
	margin: 1em 1.25em .5em 1em;
}

h2{
	font-family: 'Lobster', sans-serif;
	font-size: 1.50em;
	margin: 1em 1.25em .5em 0em;
}

h3{
	font-family: 'Lobster', sans-serif;
	font-size:1.25em;
	margin: 1em 1.25em .5em 1em;
}

section#about {
	background-color:black; 
	color:white;
	padding:1em 1em 1em 1em;
	width:744px;
	text-align: left;
}

ul{
	font-size: 1em;
	font-style: normal;
	margin: 0em 1.25em .5em 3em;
	line-height: 1.5em;
}

p{
	margin: 1em 1.25em .5em 1em;
	line-height: 1.5em;
	width: 20em;
}

#slogan{
	font-size:1.25em;
	font-style: italic;
	margin: 1em 1.25em .5em 1em;
}
#logo {
	margin: 1em 1.25em .5em 1em;
}

#contact {
	margin: 1em 1.25em .5em 1em;
}


