* {margin:0;padding:0;box-sizing:border-box;}

body {
	color:#272525;
	font-size: 16px;
	font-family: 'Karma', serif;
}

a {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	background-color: #45672A;
	border: 33%;
	float: right;
	display: block;
	padding: 1em;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-top: 1em;
}

#logo { 
	float:left;
	display: block;
	width: 66%;
	background-image: url("woodgrain.jpg");
	background-repeat: no-repeat; 
	padding:1em;
	vertical-align: center;
	margin: 1em;
	color:white;
}


h1 {
	font-size: 4em;
	font-style: bold;
	font-family: 'Satisfy', sans-serif;
	color:#fff;
	margin: 0 0 0 .5em;
}


h2 {
	font-size: 2em;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0 0 0 1em;

}

h3 { 
	font-size: 2em;
	color:#654A29;
	font-family: 'Satisfy', sans-serif;

}

#welcome {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#wedding {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#events {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#locations {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#gifts {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#rsvp {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#contact {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

a:hover {
background-color:#03D8B1;
color:black;
text-decoration: none;
}

#columns {
	float:left;
	columns: 3;
	width:66%;
	margin:1em;
	clear:both;
}
#columns a {
	border:.15em #fff solid;
	color:#fff;
	display:block;
	padding:1em 0;
	text-align:center;
	text-decoration:none;
	width:12em;
}

p {
	font-family: 'Karma', serif;
	width: 66%;
}

Footer {
	text-align: center;
	text-decoration: lowercase;
	background-color: #000;
	color:white;
} 
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
