* {margin:0;padding:0;box-sizing:border-box;}
body {
	color:#272525;
	font-size: 16px;
	font-family: 'Karma', serif;
	text-align: left;
	margin: 1em 1em 1em 2em;
}

h1, h2, h3, {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	font-color: black;
	background-color: #45672A;
	max-width: 33%;
	float: right;
	display: block;
	border-radius: 75%;
	padding: 1em;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;

}

#hero { 
	display: block;
	border-style: solid;
	border: black;
	color: #272525;
}

h1 {
	font-size: 3em;
	font-style: bold;
	color:#45672A;
}

h2 {
	font-size: 2em;
	color: #654A29;

}
h3 { 
	font-size: 1.5em;
	color:#654A29;;

}


a:hover {
background-color:#03D8B1;
color:black;
text-decoration: none;

}

p {
	font-family: 'Karma', serif;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
