* {margin:0;padding:0;box-sizing:border-box;}
body {
	color:#272525;
	font-size: 16px;
	font-family: 'Karma', serif;
	text-align: left;
	margin: 1em 1em 1em 2em;
}

a {
	text-decoration: none;
	font-color: black;
	background-color: #45672A;
	max-width: 33%;
	float: right;
	display: block;
	border-radius: 75%;
	padding: 1em;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;

}

aside{
	float:right;
	background-color:#03D8B1; 
	padding: 1em;
	max-width: 33%;
}

#logo { 
	float:left;
	display: block;
	width: 66%;
	background-image: url("wood_border.jpg");
	background-repeat: no-repeat; 
	padding:2em;
	vertical-align: center;
}


h1 {
	font-size: 4em;
	font-style: bold;
	font-family: 'Satisfy', sans-serif;
	color:#fff;
	margin: 0 0 0 1em;
}


h2, h3, {
	font-family: 'Raleway', sans-serif;
	}

h2 {
	font-size: 2em;
	color: #fff;
	margin: 0 0 1em 1em;

}
h3 { 
	font-size: 1.5em;
	color:#654A29;;

}

#column {
	height:500px;
	border:.5em solid #000;
	margin: 1em 1em;
	padding: 4em;
	max-width: 66%;
}

#content {

}

a:hover {
background-color:#03D8B1;
color:black;
text-decoration: none;

}

p {
	font-family: 'Karma', serif;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
