* {margin:0;padding:0;box-sizing:border-box;}

body {
	color:#272525;
	font-size: 16px;
	font-family: 'Karma', serif;
}

nav {
	max-width: 33%;
	}

a {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	background-color: #45672A;
	border: 33%;
	border-radius: 50%;
	float: right;
	display: block;
	padding: 5em;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}

#logo { 
	float:left;
	display: block;
	width: 33%;
	background-image: url("woodgrain.jpg");
	background-repeat: no-repeat; 
	padding:1em;
	vertical-align: center;
	margin: 1em;
	color:white;
}


h1 {
	font-size: 4em;
	font-style: bold;
	font-family: 'Satisfy', sans-serif;
	color:#fff;
	margin: 0 0 0 .5em;
}


h2, h3, {
	font-family: 'Raleway', sans-serif;
	}

h2 {
	font-size: 2em;
	color: #fff;
	margin: 0 0 0 1em;

}
h3 { 
	font-size: 2em;
	color:#654A29;

}

#heart{
	float: left;
	display: block;
	border: 66%;
	clear:both;
	margin: 1em;
}

#wedding {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
	clear:both;
}

#events {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
}

#locations {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
}

#gifts {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
}

#rsvp {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
}

#contact {
	height:500px;
	border:.5em solid #654A29;
	margin: 1em;
	padding: 4em;
	max-width: 66%;
}

#content {

}

a:hover {
background-color:#03D8B1;
color:black;
text-decoration: none;

}

p {
	font-family: 'Karma', serif;
	width: 66%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
