* {margin:0;padding:0;box-sizing:border-box;}

body {
	color:#272525;
	font-size: 16px;
	font-family: 'Karma', serif;
}

#logo {
	display: block;
	max-width: 33%
}

h1 {
	font-size: 4em;
	font-style: bold;
	font-family: 'Satisfy', sans-serif;
	color:#697C46;
	margin: 0 0 0 1em;
	float: left;
}


h2 {
	font-size: 2em;
	color: #697C46;
	font-family: 'Satisfy', sans-serif;
	margin: 0 0 0 1em;
	float: left;
}

h3 { 
	font-size: 2em;
	color:#654A29;
	font-family: 'Satisfy', sans-serif;
}

h4 { 
	font-size: 1.25em;
	color:#fff;
	font-family: 'Karma', serif;
	margin: 0 0 0 1em;
}


nav {
	display: block;
	float: left;
	margin: 1em 0 3em 1em;
	clear:both;
}

nav a {
	text-decoration: none;
	text-align: center;
	background-color: #697C46;
	padding: 1em;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}

nav a:hover {
	background-color:rgba(105, 124, 70, 0.6);
	color:black;
	text-decoration: none;
}

p {
	font-family: 'Karma', serif;
	width: 66%;
}

a {
	text-decoration: none;
	text-align: center;
	background-color: #697C46;
	padding: 1em;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-top: 1em;
}
.feature {
	display: block;
	float: left;
	width: 260px;
  	height: 300px;
	padding: 20px;
	margin: 0;
}

.feature a {
	border:.15em #fff solid;
	color:#fff;
	display:block;
	padding:3em 0;
	text-align:center;
	text-decoration:none;
	clear:both;
}

.banner{
	max-width: 1400px;
	margin: 1em 0;
	padding: 300px;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
	clear:both;
}
#welcome {
	background-image: url("welcome.jpg");
}

#wedding {
	background-image: url("wedding.jpg");
}

#events {
	background-image: url("events.jpg");
}

#locations {
	background-image: url("locations.jpg");
}

#gifts {
	background-image: url("gifts.jpg");
}

#rsvp {
	background-image: url("rsvp.jpg");
}

#contact {
	background-image: url("contact.jpg");
}

a:hover {
	background-color:#03D8B1;
	color:black;
	text-decoration: none;
}

Footer {
	text-align: center;
	text-decoration: lowercase;
} 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
