* {margin:0;padding:0;box-sizing:border-box;}

body {
	color:#272525;
	font-size: 16px;
	font-family: 'Karma', serif;
}

h1 {
	font-size: 4em;
	font-style: bold;
	font-family: 'Satisfy', sans-serif;
	color:#fff;
	margin: 0 0 0 .5em;
}


h2 {
	font-size: 2em;
	color: #fff;
	font-family: 'Satisfy', sans-serif;
	margin: 0 0 0 1em;

}

h3 { 
	font-size: 2em;
	color:#654A29;
	font-family: 'Satisfy', sans-serif;
}

h4 { 
	font-size: 1.25em;
	color:#fff;
	font-family: 'Karma', serif;
	margin: 0 0 0 1em;
}

#logo { 
	background-image: url("woodgrain.jpg");
	margin: 1em;
	clear:both;
	max-width: 1400px;
}

.maxwidth {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1em;
}

nav {
	display: block;
	float: left;
	margin: 1em 0 3em 1em;
}

nav a {
	text-decoration: none;
	text-align: center;
	background-color: #697C46;
	padding: 1em;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}

nav a:hover {
	background-color:rgba(105, 124, 70, 0.6);
	color:black;
	text-decoration: none;
}

p {
	font-family: 'Karma', serif;
	width: 66%;
}

a {
	text-decoration: none;
	text-align: center;
	background-color: #697C46;
	padding: 1em;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-top: 1em;
	clear:both;
}

#welcome {
	height:672px;
	margin: 1em;
	padding: 4em;
	background-image: url("welcome.jpg");
	clear:both;
}

#wedding {
	height:400px;
	margin: 1em;
	padding: 4em;
	background-image: url("wedding.jpg");
	clear:both;
}

#events {
	height:400px;
	margin: 1em;
	padding: 4em;
	background-image: url("events.jpg");
	clear:both;
}

#locations {
	height:400px;
	margin: 1em;
	padding: 4em;
	background-image: url("locations.jpg");
	clear:both;
}

#gifts {
	height:400px;
	margin: 1em;
	padding: 4em;
	background-image: url("gifts.jpg");
	clear:both;
}

#rsvp {
	height:400px;
	margin: 1em;
	padding: 4em;
	background-image: url("rsvp.jpg");
	clear:both;
}

#contact {
	height:400px;
	margin: 1em;
	padding: 4em;
	background-image: url("contact.jpg");
	clear:both;
}

a:hover {
	background-color:#03D8B1;
	color:black;
	text-decoration: none;
}
.banner {

}

.feature {
	float: left;
	width: 375px;
  	height: 300px;
	padding: 10px;
	margin: 0 2em;
}

.feature a {
	border:.15em #fff solid;
	color:#fff;
	display:block;
	padding:3em 0;
	text-align:center;
	text-decoration:none;
	clear:both;
}

.feature2 {
	float: left;
	width: 375px;
  	height: 800px;
	padding: 10px;
	margin: 0 2em;
	clear:both;
}

.feature2 a {
	border:.15em #fff solid;
	color:#fff;
	display:block;
	padding:3em 0;
	text-align:center;
	text-decoration:none;
	clear:both;
}

Footer {
	text-align: center;
	text-decoration: lowercase;
} 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
